#id1{
    background-color: blue;
    color:white
    }

.container{
    background-color: lightgrey;
    color: black;
}

#id2{
    color: red;
}

.para{
    background-color: green;
}

.main-container{
    background-color: yellow;
}

#id3{
    text-align: center;
}

a{
    text-decoration-line: none;
}

#id4{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}